/* Font Load */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap");

@import "tailwindcss";

/* Global Reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Montserrat", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Signika", serif;
}
button {
  cursor: pointer;
}
/* Global Variables */
:root {
  --primary-color: #5f63f2; /* Modern, vibrant purple */
  --secondary-color: #ff8a00; /* Trendy amber-orange */
  --background-color: #f4f4f9; /* Light, neutral background */
  --surface-color: #ffffff; /* Clean white surface */
  --text-color: #333333; /* Dark, readable text */
  --muted-text-color: #b0b0b0; /* Soft gray for muted text */
}

/* Dark Mode */
[data-theme="dark"] {
  --primary-color: #6a69f2; /* Lively purple for dark mode */
  --secondary-color: #ffb400; /* Bright amber to contrast dark background */
  --background-color: #181818; /* Dark background for a sleek look */
  --surface-color: #222222; /* Slightly lighter surface for depth */
  --text-color: #e0e0e0; /* Soft white text for contrast */
  --muted-text-color: #a6a6a6; /* Gentle gray for muted text */
}

/* Other global styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
